.header-navigetion {
    background-color: var(--accent-color);
    
}


    .header-nav__wrapper{
        position: fixed;
         top:-100%;
         left:0;
         z-index: 2;
         transition: top 0.3s ease-in;
         padding:15px 24px 50px 24px;
         overflow: hidden;
         margin: auto;
         clear: both;
         width: 982px;
         height: 120px;
         position: relative;
         display: grid;
         grid-template-columns: 200px 200px 200px;
         justify-content: center;
         align-items: center;
         height: 80px;
         width: 500px;
         background: #101010;
         border: 1px solid #444;
          list-style: none;
         
     }
    

.header-nav__logo{
    width: 200px;
    height: 50px;
}

@media ((min-width: 1340px)) {
    
.header-nav {
    width: 100%;
    max-width: 1312px;
    margin: auto;
}
}


